<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
    verbose="true"
    colors="true">

    <php>
        <!-- Set error reporting to E_ALL. -->
        <ini name="error_reporting" value="32767" />

        <!-- Do not limit the amount of memory tests take to run. -->
        <ini name="memory_limit" value="-1" />

        <env name="ARANGO_ROOT_PASSWORD" value="test" />

        <!--
            @see \ArangoDBClient\ConnectionOptions class constants.
        -->
        <!--<env name="ARANGODB_CONNECTION_Endpoint"          value="" />-->
        <!--<env name="ARANGODB_CONNECTION_AuthType"          value="" />-->
        <!--<env name="ARANGODB_CONNECTION_AuthUser"          value="" />-->
        <!--<env name="ARANGODB_CONNECTION_AuthPasswd"        value="" />-->
        <env name="ARANGODB_CONNECTION_Connection"            value="Close" />
        <!--<env name="ARANGODB_CONNECTION_connectTimeout"    value="" />-->
        <!--<env name="ARANGODB_CONNECTION_Reconnect"         value="" />-->
        <!--<env name="ARANGODB_CONNECTION_policy"            value="" />-->
        <!--<env name="ARANGODB_CONNECTION_createCollection"  value="" />-->
        <!--<env name="ARANGODB_CONNECTION_database"          value="" />-->
    </php>

    <testsuites>
        <testsuite name="end-to-end">
            <directory>./tests/src/EndToEnd/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <testdoxHtml outputFile="reports/human/unit/junit.html" />
        <junit outputFile="reports/machine/unit/junit.xml" />
    </logging>

    <coverage processUncoveredFiles="true">
        <include>
            <directory>./src/</directory>
        </include>

        <report>
            <clover outputFile="reports/machine/coverage/coverage.xml" />
            <html outputDirectory="reports/human/coverage/html" />
            <text outputFile="php://stdout" />
        </report>
    </coverage>
</phpunit>
